.view {
	display: flex;
	justify-content: center;
	align-items: center;
}
.view h1 {
	color: rgba(0, 0, 0, 0.5);
}
.recipes {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: grid;
	align-items: center;
	justify-content: space-around;
	grid-template-columns: repeat(auto-fit, minmax(550px, 400px));
	/*grid-column-gap: 5px;*/
	grid-row-gap: 15px;
}
@media screen and (max-width: 768px) {
	.recipes {
		grid-template-columns: repeat(auto-fit, minmax(550px, 400px));
	}
}
@media screen and (max-width: 500px) {
	.recipes {
		grid-template-columns: repeat(auto-fit, minmax(365px, 400px));
	}
}
